﻿@model CapstoneMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.First, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.First, new { @class = "form-control", @placeholder = "First Name" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Middle, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Middle, new { @class = "form-control", @placeholder = "Middle Name" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Last, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Last, new { @class = "form-control", @placeholder = "Last Name" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Maiden, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Maiden, new { @class = "form-control", @placeholder = "Maiden Name" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MobNum, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MobNum, new { @class = "form-control", @placeholder = "Contact Number" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.Gender, "Male") @Html.Label("Male")<br>
            @Html.RadioButtonFor(m => m.Gender, "Female") @Html.Label("Female")<br>
            @Html.RadioButtonFor(m => m.Gender, "Other") @Html.Label("Other")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.companionshipid, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" id="companionshipid" name="companionshipid">
                <option>Select Companionship Status</option>
                <option value="1">Single</option>
                <option value="2">Married</option>
                <option value="3">Divorced</option>
                <option value="4">Defacto</option>
                <option value="5">Widowed/Widower</option>
            </select>
        </div>
    </div>

    
    <div class="form-group">
        @Html.LabelFor(m => m.Occupation, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control", @placeholder = "Occupation" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DOB, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DOB, new { type = "date", @class = "form-control", @placeholder = "DD/MM/YYYY" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.placeofbirth, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.placeofbirth, new { @class = "form-control", @placeholder = "Place of Birth" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.dependant, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.RadioButtonFor(m => m.dependant, true) @Html.Label("Yes")<br>
            @Html.RadioButtonFor(m => m.dependant, false) @Html.Label("No")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmpName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control", @placeholder = "Employer Name" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmpNum, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmpNum, new { @class = "form-control", @placeholder = "Employer Contact Number" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gshipdeet, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Gshipdeet, new { @class = "form-control", @placeholder = "Any Current Parent or Guardians" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.tortid, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.tortid, new { @class = "form-control", type = "number", @placeholder = "Tort Case Number" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
