﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <title>@ViewBag.Title - Torts360</title>
        <!--Bootstrap CSS--><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!--Torts CSS--><link rel="stylesheet" href="~/Content/Home.css">
        <!--jQuery UI CSS--><link rel="stylesheet" href="~/Content/jquery-ui.css">
        <!--jQuery js    --><script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <!--jQuery UI js --><script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <!--Bootstrap js --><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>

        @Html.Partial("_navBar")

        <div class="container body-content">
            @RenderBody()
            <hr/>
            <footer>
                <p>&copy; @DateTime.Now.Year - Copyright Torts360</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/lib")
        @RenderSection("scripts", required: false)
    </body>
</html>