﻿@using CapstoneMVC.Controllers
@using CapstoneMVC.Models

 <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Torts360", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @*<li>@Html.ActionLink("Questionnaire", "Index", "Questions")</li>*@
            </ul>
            @if (User.IsInRole(RoleName.TortAdmin))
            {
                @Html.Partial("_AdminLoginPartial")
            }
            else if (User.IsInRole(RoleName.TortLawyer))
            {
                @Html.Partial("_LawyerLoginPartial")
            }
            else
            {
                @Html.Partial("_LoginPartial")
            }

        </div>
     </div>
 </div>
