﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lawyer List</h2>

<p>
    @Html.ActionLink("New Lawyer", "NewLawyer", "Lawyers", null, new { @class = "btn btn-primary" })
</p>

<div class="jumbotron">
    <table id="lawyers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Lawyers</th>
                @*<th>User Type</th>*@
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var casetable = $("#lawyers").DataTable({
                ajax: {
                    url: "/api/lawyers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userFirst",
                        render: function(data, type, individual) {
                            return "<a href='/lawyers/edit/" +
                                individual.individualID +
                                "'>" +
                                individual.userFirst + " " + individual.userLast +
                                "</a>";
                        }
                    },
                    //{
                    //    data: "userType.name"
                    //},
                    {
                        data: "individualID",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-individual-individualID=" +
                                data +
                                ">Delete</button>";
                        }
                    }
                ]
            });
            $("#lawyers").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this lawyer?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/lawyers/" + button.attr("data-individual-individualID"),
                                    method: "DELETE",
                                    success: function() {
                                        casetable.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}