﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Torts360</h2>
<hr/>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            Having worked on some of the most significant and high-profile mass tort cases of all time, Torts360’s world-class leadership team has the
            innate ability to provide you with proven and tried solutions for all your legal administrative needs that will ultimately save you time and money.

        </p>
        <p><a class="btn btn-default" href="https://www.qut.edu.au/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>
            Torts360 Group consistently maintains a well-controlled and secure servicing environment to protect the confidentiality, integrity and availability of collected information. We make ongoing investments in people, processes and technology to ensure that our technology and communications continues to exceed industry standards.
        </p>
        <p><a class="btn btn-default" href="https://www.qut.edu.au/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            Torts360, a leader in mass tort claims administration, is proud to announce that Ana will be joining T Media’s highly experienced team of legal notice media experts as a senior media planner and buyer.
            Ana brings extensive digital media experience to T Media’s nationally recognized media team. She has more than 11 years of legal notice media experience working on high profile matters, which include integrated strategies for cross-platform media legal notice campaigns.
            Additionally, Ana works with the noticing team to manage and implement notice plans to ensure that they are compliant with State Rules of Civil Procedure Rule 23 and that they are tailored in style and form to class member preferences.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Mass_tort">Read more &raquo;</a></p>
    </div>
</div>
