﻿@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="text-center">Torts360</h1>
            <hr />
            <p class="lead text-center">Search for an active case.</p>
        </div>
        <div class="search-form">
            <form class="form-inline" role="form" action="/Home" method="post" style="padding-top:8px;">
                <div class="form-group">
                    @Html.TextBox("searchQuery", "", new { name = "name", @id = "indexSearchControl", @class = "form-control home", style = "width: 250px;" })
                </div>
                <button type="submit" class="btn btn-default btn-transparent">Search</button>
            </form>
        </div>
    </div>
</header>