﻿@model CapstoneMVC.ViewModels.IndividualFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<hr />

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Save", "Clients", FormMethod.Post))
            {
                @Html.ValidationSummary(true, "Please fix the following errors.")

                <div class="form-group">
                    @Html.LabelFor(m => m.UserFirst)
                    @Html.TextBoxFor(m => m.UserFirst, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserFirst)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserMiddle)
                    @Html.TextBoxFor(m => m.UserMiddle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserMiddle)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserLast)
                    @Html.TextBoxFor(m => m.UserLast, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserLast)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserMaiden)
                    @Html.TextBoxFor(m => m.UserMaiden, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserMaiden)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Gender)
                    @*Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })*@
                    <br />
                    Male
                    @Html.RadioButtonFor(m => m.Gender, "Male")
                    Female
                    @Html.RadioButtonFor(m => m.Gender, "Female")
                    @Html.ValidationMessageFor(m => m.Gender)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Occupation)
                    @Html.TextBoxFor(m => m.Occupation, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Occupation)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DateOfBirth)
                    @Html.TextBoxFor(m => m.DateOfBirth, "{0:d MMM yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PlaceOfBirth)
                    @Html.TextBoxFor(m => m.PlaceOfBirth, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PlaceOfBirth)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Dependent)
                    @*Html.TextBoxFor(m => m.Dependent, new { @class = "form-control" })*@
                    <br />
                    True
                    @Html.RadioButtonFor(m => m.Dependent, "True")
                    False
                    @Html.RadioButtonFor(m => m.Dependent, "False")
                    @Html.ValidationMessageFor(m => m.Dependent)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmployerName)
                    @Html.TextBoxFor(m => m.EmployerName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EmployerName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmployerNumber)
                    @Html.TextBoxFor(m => m.EmployerNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EmployerNumber)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DateAdded)
                    @Html.TextBoxFor(m => m.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DateAdded)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.GuardianshipDetails)
                    @Html.TextBoxFor(m => m.GuardianshipDetails, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.GuardianshipDetails)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TortCaseID)
                    @Html.TextBoxFor(m => m.TortCaseID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TortCaseID)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserTypeID)
                    @Html.TextBoxFor(m => m.UserTypeID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserTypeID)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CompanionshipTypeID)
                    @Html.TextBoxFor(m => m.CompanionshipTypeID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CompanionshipTypeID)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.EmailConfirmed)<br>
                    @Html.RadioButtonFor(m => m.EmailConfirmed, true) @Html.Label("Yes")
                    @Html.RadioButtonFor(m => m.EmailConfirmed, false)@Html.Label("No")
                    @Html.ValidationMessageFor(m => m.EmailConfirmed)
                </div>

                @Html.HiddenFor(m => m.IndividualID)
                @Html.AntiForgeryToken()
                <button type="submit" value="submit" class="btn btn-primary">Save</button>
                @Html.ActionLink("Return Without Saving", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
            }
        </div>
        @*<div class="col-md-4">
                @using (Html.BeginForm("Save", "Cases"))
                {
                @Html.ValidationSummary(true, "Please fix the following errors.")

                <div class="form-group">
                    @Html.LabelFor(m => m.CaseName)
                    @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CaseName)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CaseDescription)
                    @Html.TextAreaFor(m => m.CaseDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CaseDescription)
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.CaseIdentifier)
                    @Html.TextBoxFor(m => m.CaseIdentifier, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CaseIdentifier)
                </div>


                @Html.HiddenFor(m => m.TortCaseId)
                @Html.AntiForgeryToken()
                }
            </div>*@
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
