﻿@model CapstoneMVC.Models.Individual

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Details: @Model.UserFirst @Model.UserLast</h2>
<hr />

<div class="jumbotron">
    <ul>
        <li>Attorney: Adam Campbell Johnson </li>
        <li>Client Name: @Model.UserFirst @Model.UserMiddle @Model.UserLast</li>
        <li>Gender: @Model.Gender</li>
        <li>Occupation: @Model.Occupation</li>
        <li>Place Of Birth: @Model.PlaceOfBirth</li>
        <li>Date Added to client list: @Model.DateOfBirth</li>
        <li>Email Address: @Model.Email</li>
        <li>Phone Number: @Model.PhoneNumber</li>
        <li>Gender: @Model.Gender </li>
        <li>Case ID: @Model.TortCaseID </li>
    </ul>
    @Html.ActionLink("Return", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
    

</div>