﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client List</h2>
<hr />

<p>
    @Html.ActionLink("New Client", "NewClient", "Clients", null, new { @class = "btn btn-primary" })
</p>

<div class="jumbotron">
    <table id="clients" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Clients</th>
                <th>Date of Birth</th>
                <th>Email Confirmed?</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
            var casetable = $("#clients").DataTable({
                    ajax: {
                        url: "/api/clients",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "userFirst",
                            render: function(data, type, individual) {
                                return "<a href='/clients/edit/" +
                                    individual.individualID +
                                    "'>" +
                                    individual.userFirst +
                                    " " +
                                    individual.userLast +
                                    "</a>";
                            }
                        },
                        {
                            dateFormat: "dd/mm/yyyy",
                            data: "dateOfBirth"
                            
                },
                {
                    data: "emailConfirmed"
                },
                {
                    data: "individualID",
                    render: function (data, type, individual) {
                        return "<a href='/clients/details/" + individual.individualID + "'>" + "Details" + "</a>";
                    }
                },
                {
                    data: "individualId",
                    render: function(data) {
                        return "<button class='btn-link js-delete' data-individual-individualID=" +
                            data +
                            ">Delete</button>";
                    }
                }
            ]
        });
        $("#clients").on("click",
            ".js-delete",
            function() {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this client?",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/clients/" + button.attr("data-individual-individualID"),
                                method: "DELETE",
                                success: function() {
                                    casetable.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
            });
        });
    </script>
}