﻿@model CapstoneMVC.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Lawyer Index";
}

<h2>@ViewBag.Title.</h2>
<hr />

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <th width="33.33%">
                        Cases
                    </th>
                    <th width="33.33%">
                        View Documents
                    </th>
                    <th width="33.33%">Manage Account</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.ActionLink("New Case", "NewCase", "Cases", null, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("View Documents", "Index", "Document", null, new { @class = "btn btn-primary" })</td>
                    <td>
                        <dl class="dl-horizontal">
                            <dt>Password:</dt>
                            <dd>
                                [
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        </table>

        @*
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>

        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

        See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

        Uncomment the following block after you have set up two-factor authentication


        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
            }
            else
            {
            <text>
                [&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
            {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <text>
                Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
            </text>
            }
            }
            else
            {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <text>
                Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
            </text>
            }
            }*@
    </div>
</div>
