﻿@model CapstoneMVC.Models.TortCase

@{
    ViewBag.Title = Model.CaseName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Case Details: @Model.CaseName (@Model.CaseIdentifier)</h2>
<hr />

<div class="jumbotron">
    <ul>
        @*<li>Attorneys: Return a list of attorneys from db with sql query in controller @Model.Attorneys</li>*@
        @*
        <ul>
            @Model.
        </ul>*@
        <li>Description: @Model.CaseDescription</li>
        @*<li>Victims: Model.Victims.ToList()</li>
        <li>Non-Victim Clients: Model.NonVictimClients.ToList()</li>*@
        <li>Case Id: @Model.CaseIdentifier</li>
        <li>Database Id: @Model.TortCaseID</li>
        <li>Date Added: @Model.DateAdded</li>
    </ul>
    
    @Html.ActionLink("Return", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
    
</div>

