﻿
@{
    ViewBag.Title = "Cases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Case List</h2>
<hr/>

<p>
    @Html.ActionLink("New Case", "NewCase", "Cases", null, new { @class = "btn btn-primary" })
</p>

<div class="jumbotron">
    <table id="cases" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Case</th>
                <th>Date Added</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var casetable = $("#cases").DataTable({
                ajax: {
                    url: "/api/cases",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "caseName",
                        render: function(data, type, tortCase) {
                            return "<a href='/cases/edit/" + tortCase.tortCaseID + "'>" + tortCase.caseName + "</a>";
                        }
                    },
                    {
                        data: "dateAdded"
                    },
                    {
                        data: "caseDescription",
                        render: function(data, type, tortCase) {
                            return "<a href='/cases/details/" + tortCase.tortCaseID +"'>" + "Details" + "</a>";
                        }
                    },
                    {
                        data: "tortCaseId",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-tortCase-tortCaseID=" + data +">Delete</button>";
                        }
                    }
                ]
            });
            $("#cases").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this case?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/cases/" + button.attr("data-tortCase-tortCaseID"),
                                    method: "DELETE",
                                    success: function() {
                                        casetable.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}