﻿@model CapstoneMVC.ViewModels.CaseFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<hr />

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Save", "Cases", FormMethod.Post))
            {
            @Html.ValidationSummary(true, "Please fix the following errors.")

            <div class="form-group">
                @Html.LabelFor(m => m.CaseName)
                @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CaseName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CaseDescription)
                @Html.TextAreaFor(m => m.CaseDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CaseDescription)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CaseIdentifier)
                @Html.TextBoxFor(m => m.CaseIdentifier, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CaseIdentifier)
            </div>


            @Html.HiddenFor(m => m.TortCaseID)
            @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Save</button>
                @Html.ActionLink("Return Without Saving", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
            }
        </div>
        @*<div class="col-md-4">
            @using (Html.BeginForm("Save", "Cases"))
            {
            @Html.ValidationSummary(true, "Please fix the following errors.")

            <div class="form-group">
                @Html.LabelFor(m => m.CaseName)
                @Html.TextBoxFor(m => m.CaseName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CaseName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CaseDescription)
                @Html.TextAreaFor(m => m.CaseDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CaseDescription)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CaseIdentifier)
                @Html.TextBoxFor(m => m.CaseIdentifier, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CaseIdentifier)
            </div>


            @Html.HiddenFor(m => m.TortCaseId)
            @Html.AntiForgeryToken()
            }
        </div>*@
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

