﻿body {
    background-color: transparent;
}

html {
    background: radial-gradient(black, transparent), url("BG.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
}


    header .header-content {
        position: relative;
        width: 100%;
        padding: 150px 15px;
        text-align: center;
    }

        header .header-content .header-content-inner h1 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 700;
        }

        header .header-content .header-content-inner hr {
            margin: 30px auto;
        }

hr {
    max-width: 70px;
    border-color: white;
    border-width: 3px;
}

footer {
    text-align: center;
    color: #999;
}

.search-form .form-control {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

input#searchQuery.form-control {
    background-color: transparent;
    color: white;
}

#indexSearchControl {
    display: inline;
}

.btn-transparent {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.thumbs-up {
    color: mediumseagreen;
}

.thumbs-down {
    color: red;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    text-align: center;
}

div {
    color: black;
}

    div .modal-text {
        color: black;
        text-align: left;
    }

    div .modal-footer {
        text-align: right;
    }

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

    .ui-autocomplete > li {
        padding: 3px 20px;
    }

        .ui-autocomplete > li.ui-state-focus {
            background-color: #DDD;
        }

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;
    border: 2px solid white;
    background: white;
}

div.popover-content p {
    background: white;
    text-align: left;
}

h3.popover-title {
    color: black;
}

p#tokensPopover {
    text-align: left;
}

.validation-summary-errors {
    color: #a94442;
}

.field-validation-error {
    color: #a94442;
}

.input-validation-error {
    border: 2px solid #a94442;
}
