﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
}

div {
    color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.tabs {
    margin: 0px;
    padding: opx;
    list-style: none;
}

    ul.tabs li {
        display: inline-block;
        padding: 10px 15px;
        background-color: Black;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

        ul.tabs li.current {
            background-color: White;
            color: black;
        }

.tab-content {
    display: none;
    background-color: white;
    padding: 15px;
}

    .tab-content.current {
        display: inherit;
    }

.validation-summary-errors {
    color: #a94442;
}

.field-validation-error {
    color: #a94442;
}

.input-validation-error {
    border: 2px solid #a94442;
}
