﻿
@{
    ViewBag.Title = "CaseSelector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Which Case Are You Submitting For?</h2>
<hr />

@*only show cases that they are tied to/allowed to complete*@

<div class="jumbotron">
    <table id="cases" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Case</th>
            <th>Date Added</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@*need to pass the tortCaseId through to the questionviewmodel to create a new set of questions relating to THAT case*@

@section scripts
{
    <script>
        $(document).ready(function() {
            var casetable = $("#cases").DataTable({
                ajax: {
                    url: "/api/cases",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "caseName",
                        render: function(data, type, tortCase) {
                            return "<a href='/questions/new'>" + tortCase.caseName + "</a>";
                        }
                    },
                    {
                        data: "dateAdded"
                    },
                    {
                        data: "caseDescription",
                        render: function(data, type, tortCase) {
                            return "<a href='/cases/details/" + tortCase.tortCaseID +"'>" + "Details" + "</a>";
                        }
                    }
                ]
            });

            $("#cases").on("click",
            ".js-continue",
            function() {
                var button1 = $(this);
                bootbox.confirm("You will now be re-directed to continue your submission.",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/cases/" + button1.attr("data-tortCase-tortCaseID"),
                                success: function() {
                                    // take you to continue current submission from tortCaseId
                                }
                            });
                        }
                    });
                });

            $("#cases").on("click",
                ".js-discard",
                function() {
                    var button2 = $(this);
                    bootbox.confirm("Are you sure you want to delete this case?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/cases/" + button2.attr("data-tortCase-tortCaseID"),
                                    method: "DELETE",
                                    success: function() {
                                        casetable.row(button2.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}