﻿@using CapstoneMVC.Models

@{
    ViewBag.Title = "Submissions";
}
<h2>Active Submissions</h2>
<hr />

@*<p>Make list of cases associated with client/victim to choose from to fill out questionnaire for</p>*@
<div class="jumbotron">
    <table id="cases" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Case Name</th>
                <th>Date Added</th>
                <th>Case Details</th>
                <th>Current Submission</th>
            </tr>
        </thead>
        <tbody>
            @*
            <tr>
                will have to check the current user logged in and get all cases associated with them
                <td width="75%">You have no cases to continue with... Start a new one by clicking on your email in the top right!</td>
                <td>dd/mm/yyyy</td>
            </tr>*@
        </tbody>
    </table>
    @*@Html.ActionLink("Fill out the Questionnaire", "QuestionForm", "Questions")*@
</div>

@section scripts
{
<script>
    $(document).ready(function () {
        var casetable = $("#cases").DataTable({
            ajax: {
                url: "/api/cases",
                dataSrc: ""
            },
            columns: [
                {
                    data: "caseName",
                    //render: function(data, type, tortCase) {
                    //    return "<a href='/cases/edit/" + tortCase.tortCaseId + "'>" + tortCase.caseName + "</a>";
                    //}
                },
                {
                    data: "dateAdded"
                },
                {
                    data: "caseDescription",
                    render: function (data, type, tortCase) {
                        return "<a href='/cases/details/" + tortCase.tortCaseID + "'>" + "Details" + "</a>";
                    }
                },
                {
                    data: "tortCaseId",
                    render: function (data) {
                        return "<button class='btn-link js-continue' data-tortCase-tortCaseID=" + data + ">Continue</button>" + " / " +
                            "<button class='btn-link js-discard' data-tortCase-tortCaseID=" + data + ">Discard</button>";
                        //return "<a href='/questions/new" + tortCase.tortCaseId + "'>" + "Continue" + "</a>" + " / " +
                        //        "<a href='/questions/new" + tortCase.tortCaseId + "'>" + "Discard" + "</a>";
                    }
                }
            ]
        });

        $("#cases").on("click",
            ".js-continue",
            function () {
                var button1 = $(this);
                bootbox.confirm("You will now be re-directed to continue your submission.",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/cases/" + button1.attr("data-tortCase-tortCaseID"),
                                success: function () {
                                    // take you to continue current submission from tortCaseId
                                }
                            });
                        }
                    });
            });

        //dont want a client to be able to delete a case, only their current submission of data.....
        $("#cases").on("click",
            ".js-discard",
            function () {
                var button2 = $(this);
                bootbox.confirm("Are you sure you want to delete this case?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/cases/" + button2.attr("data-tortCase-tortCaseID"),
                                method: "DELETE",
                                success: function () {
                                    // remove all data from submission and start a clean submission
                                }
                            });
                        }
                    });
            });
    });
</script>
}