﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        @Html.BeginForm("Index", "Document", FormMethod.Post, new { enctype = "multipart/form-data" })
        {
            <input type="file" name="postedFile" />
            <input type="submit" id="btnUpload" value="Upload" />
        }

        @Html.BeginForm("DownloadFile", "Document", FormMethod.Post)
        {
            <input type="hidden" id="hfFileId" name="FileId" />
            <input type="submit" id="btnDownload" value="Download" style="display:none" />
        }
}