﻿@using CapstoneMVC.Controllers
@using CapstoneMVC.Models
@model IEnumerable<CapstoneMVC.Models.FileModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Document Submissions</h2>
<hr />

@*No time to implement datatables here*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="jumbotron">
        @*For some reason this isnt working*@
        @*
        @if (User.IsInRole(RoleName.TortClient))
        {
            @Html.Partial("_clientdocuments")
        }
        else
        {
            @Html.Partial("_blankhtml")
        }
        *@

        @using (Html.BeginForm("Index", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <input type="submit" id="btnUpload" value="Upload" />
        }

        @using (Html.BeginForm("DownloadFile", "Document", FormMethod.Post))
        {
            <input type="hidden" id="hfFileId" name="FileId" />
            <input type="submit" id="btnDownload" value="Download" style="display:none" />
        }

        <br>
        <table class="table">
            <tr>
                <th width="10%">File ID</th>
                <th width="70%">File Name</th>
                <th width="10%">Individual ID</th>
                <th width="10%">Download</th>
            </tr>
            @if (Model.Count() > 0)
            {
                foreach (var file in Model)
                {
                    <tr>
                        <td>@file.Id</td>
                        <td>@file.Name</td>
                        <td>@file.IndividualID</td>
                        <td><a href="javascript:;" onclick="DownloadFile(@file.Id)">Download</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
            }
        </table>

        @Html.ActionLink("Return", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function DownloadFile(fileId) {
            $("#hfFileId").val(fileId);
            $("#btnDownload")[0].click();
        };
    </script>
</body>
</html>